---
const title = "About CBNO";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title={title}>
  <section id="group-bio">
  <h1>About Crowded by No One (CBNO)</h1>
  <p>Crowded by No One was founded by Jsauce and Creecher as Equilibrium in 2015. Equilibrium evolved into CBNO in 2024. They are small with a goal to share and write music and be heard.</p>
  </section>
  <section id="individual-bios">
    <h2>Meet the Members</h2>
    <div class="member-bio">
      <h3>JSauce</h3>
      <p>JSauce is a founding member of CBNO. With years of experience alongside fellow co-founder Creecher, they have aimed to establish their presence. Starting in 2015 under the name Equilibrium and rebranding into CBNO in 2024. For Jsauce, the group represents not only a musical outlet, but a life adventure, where progression and growth are paramount. He believes that throught the ups and downs of life, it's the challenges that teach the most valuable lessons. His music, much like his journey, is full of depth and honesty, and while it may not be for everyone, Jsauce and CBNO aim to connect with listeners who appreciate raw, authentic music. His hope is to take fans along for the ride as CBNO continues to rise and carve out its place in the industry</p>
    </div>
  </section>
</BaseLayout>
