---
import BaseLayout from "../layouts/BaseLayout.astro"
const title = "Crowded by No One";
---
<BaseLayout title={title}>
	<section class = "hero" style="background-image:url('/images/banner.webp')">
	<div class="overlay">
		<h2>Welcome to CBNO</h2>
		<p>Discover our latest music and stay tuned for updates on new releases</p>
		<a href="#music" class ="cta-button">Listen Now</a>
	</div>
	</section>

	<section id="music" class ="music-section">
		<h2>Featured Track</h2>
		<h3><em>Flash Warning</em></h3>
		<iframe src= "https://www.youtube.com/embed/qacRDYaRXN8" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</section>
</BaseLayout>
