---
---
<footer>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit ipsum similique voluptatibus at, aperiam earum harum dignissimos? Aspernatur, labore voluptate eaque culpa fugiat cum facilis, eius facere, suscipit quo qui.
  <p>&copy; 2024 Crowded by No One</p>
</footer>
