---
const {title} = Astro.props;
---
<header>
  <h1>{title}</h1>
  <img src="/images/logo.webp" alt="logo image" class="logo">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/music">Music</a></li>
    </ul>
</nav>
</header>
