---
const {title} = Astro.props
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import '../styles/global.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
	</head>
	<body>

		<! -- Under Development -->
		<div class="development-banner">
			<p> 🚧 This website is currently under development some features may be incomplete or not avilable 🚧</p>
		</div>


	  <Header title={title} />
	  <main>
	    <slot />
	  </main>

	  <Footer />
	</body>
</html>
